@import '../../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/hero-buttons';
@import '~@nebular/bootstrap/styles/default-buttons';

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 3.5rem;
    overflow: visible;

    border-radius: 3px;

    // $bevel: btn-hero-bevel(nb-theme(card-bg));
    // $shadow: nb-theme(btn-hero-shadow);
    // box-shadow: $bevel, $shadow;

    .icon-container {
      height: 100%;
      // padding: 0.625rem;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      // height: 4.75rem;
      height: 100%;
      font-size: 2rem;
      // border-radius: nb-theme(card-border-radius);
      border-radius: 3px 0px 0px 3px;
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      // color: nb-theme(color-white);
      color: rgba(0, 0, 0, 0.5);

      &.primary {
        @include btn-primary();
        // @include btn-hero-primary-gradient();
        // @include btn-hero-primary-bevel-glow-shadow();
      }
      &.success {
        @include btn-success();
        // @include btn-hero-success-gradient();
        // @include btn-hero-success-bevel-glow-shadow();
      }
      &.info {
        @include btn-info();
        // @include btn-hero-info-gradient();
        // @include btn-hero-info-bevel-glow-shadow();
      }
      &.warning {
        @include btn-warning();
        // @include btn-hero-warning-gradient();
        // @include btn-hero-warning-bevel-glow-shadow();
      }
      &.danger {
        @include btn-danger();
        // @include btn-hero-danger-gradient();
        // @include btn-hero-danger-bevel-glow-shadow();
      }
      &.secondary {
        @include btn-hero-secondary-bg();
        @include btn-hero-secondary-bevel-glow-shadow();
        color: nb-theme(card-fg);
      }

      @include nb-for-theme(corporate) {
        &.primary,
        &.success,
        &.info,
        &.warning,
        &.danger,
        &.secondary {
          box-shadow: none;
        }
      }
    }

    &:hover {
      background: lighten(nb-theme(card-bg), 5%);

      .icon {
        &.primary {
          // background-image: btn-hero-primary-light-gradient();
          background-image: btn-primary-hover();
        }
        &.success {
          // background-image: btn-hero-success-light-gradient();
          background-image: btn-success-hover();
        }
        &.info {
          // background-image: btn-hero-info-light-gradient();
          background-image: btn-info-hover();
        }
        &.warning {
          // background-image: btn-hero-warning-light-gradient();
          background-image: btn-warning-hover();
        }
        &.danger {
          // background-image: btn-hero-danger-light-gradient();
          background-image: btn-danger-hover();
        }
        &.secondary {
          background-image: btn-hero-secondary-light-gradient();
        }
      }
    }

    &.off {
      color: nb-theme(card-fg);

      .icon {
        color: nb-theme(card-fg);

        &.primary, &.success, &.info, &.warning, &.danger {
          box-shadow: none;
          // background-image: linear-gradient(to right, transparent, transparent);
          background: rgba(0, 0, 0, 0.5);
        }

        &.secondary {
          background: transparent;
        }
      }

      .title {
        color: nb-theme(card-fg);
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      font-family: nb-theme(font-secondary);
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(card-fg-heading);
    }

    .status {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
      color: nb-theme(card-fg);
    }
  }
  /*
  @include nb-for-theme(cosmic) {
    nb-card {
      &.off .icon-container {
        @include nb-ltr(border-right, 1px solid nb-theme(separator));
        @include nb-rtl(border-left, 1px solid nb-theme(separator));
      }

      .icon-container {
        padding: 0;
      }

      .details {
        @include nb-ltr(padding-left, 1.25rem);
        @include nb-rtl(padding-right, 1.25rem);
      }

      .icon {
        width: 7rem;
        height: 100%;
        font-size: 4.5rem;
        @include nb-ltr(border-radius, nb-theme(card-border-radius) 0 0 nb-theme(card-border-radius));
        @include nb-rtl(border-radius, 0 nb-theme(card-border-radius) nb-theme(card-border-radius) 0);
      }

      .title {
        font-weight: nb-theme(font-weight-bolder);
      }

      .status {
        font-weight: nb-theme(font-weight-light);
      }
    }
  }

  @include nb-for-theme(corporate) {
    nb-card {
      .icon-container {
        height: auto;
      }
    }
  }
  */
}
